vendor/
node_modules/
.git/
.gitignore
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
!storage/logs/.gitkeep
!storage/framework/cache/.gitkeep
!storage/framework/sessions/.gitkeep
!storage/framework/views/.gitkeep
!bootstrap/cache/.gitkeep
tests/
*.md
.editorconfig
.phpunit.result.cache
phpunit.xml
docker-compose.yml
Dockerfile
README.md
