# MySQL Data
docker/mysql-data/
docker/mysql-init/

# Laravel
**/vendor/
**/node_modules/
**/.env
**/.env.backup
**/.phpunit.result.cache
**/storage/*.key
**/storage/logs/*.log
**/storage/framework/cache/data/**
**/storage/framework/sessions/**
**/storage/framework/views/**
**/bootstrap/cache/*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Composer
**/composer.lock


# Build artifacts
**/public/hot
**/public/storage
**/public/build

# Testing
**/.phpunit.cache
**/coverage/